<form action="/form" method="post">
  <input type="text" name="coords"> <br>
  <input type="radio" name="orientation" value="horizontal">Horizontal
  <input type="radio" name="orientation" value="vertical">Vertical<br>
  <input type="submit">
</form>
